.nl-container {
  width: 55%;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  height: inherit;
  padding: 2rem;
}

.nl-header-section {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.nl-header {
  display: flex;
  align-items: center;
}

.nl-header h1 {
  display: inline-block;
  margin-right: 1rem;
}

.unread-count {
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  background-color: hsl(219, 85%, 26%);
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}

.btn-link {
  border: none;
  background: none;
  color: hsl(219, 14%, 63%);
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-link:hover {
  color: hsl(219, 85%, 26%);
}

@media screen and (max-width: 900px) {
  .nl-container {
    width: 100%;
  }
}
